@use '@angular/material' as mat;

.epg-container {
  display: flex;
}

.epg-category {
  height: 300px;
  width: 170px;
  padding-right: 8px;
  overflow-y: scroll;
}

.epg-channels {
  height: 300px;
  width: 80%;
  overflow-y: scroll;
}

.epg-line {
  cursor: pointer;
  height: 68px;
  width: 100%;
  border: 1px solid rgba(50,50,50, 0.9);
  font-size: 20px;

  display: flex;
  flex-direction: row;
  align-content: center;
  text-align: center;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;

  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

.epg-line-logo {
  width: 110px;
  align-content: center;
  justify-content: center;
  text-align: center;
  padding: 2px;
  position: relative;

  .country-flag {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.epg-line-schedule {
  align-content: center;
}

.epg-line-focused {
  background-color: rgb(255,255,255,0.2);
}

.demo-table {
  height: 300px;
  overflow: auto;
  width: 80%;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.highlight-cursor {
  background-color: blue !important;
}
.highlight-selection {
  background-color: green;
}
.highlight-unhealthy {
  background-color: yellow;
}
.highlight-closed {
  background-color: red;
}

